{% extends "base.html" %}

{% block contenido %}

<!-- dashboard.html -->
<div class="dashboard container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-5 mb-4">
            <div class="card h-100 text-center">
                <img src="/static/img/categoria.png" class="card-img-top img-fluid" alt="Servicios" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">Servicios</h3>
                    <p class="card-text">Información sobre los servicios de cuidado de mascotas</p>
                    <a href="#" class="btn btn-primary">Gestión de servicios</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-5 mb-4">
            <div class="card h-100 text-center">
                <img src="/static/img/cuidador.jpg" class="card-img-top img-fluid" alt="Cuidadores" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">Cuidadores</h3>
                    <p class="card-text">Información sobre los cuidadores y su disponibilidad</p>
                    <a href="#" class="btn btn-primary">Gestión de cuidadores</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-5 mb-4">
            <div class="card h-100 text-center">
                <img src="/static/img/producto.jpg" class="card-img-top img-fluid" alt="Clientes" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">Clientes</h3>
                    <p class="card-text">Información de los clientes registrados</p>
                    <a href="#" class="btn btn-primary">Gestión de clientes</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-5 mb-4">
            <div class="card h-100 text-center">
                <img src="/static/img/tratamiento.png" class="card-img-top img-fluid" alt="Productos" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="card-title">Productos</h3>
                    <p class="card-text">Información sobre los productos para mascotas</p>
                    <a href="#" class="btn btn-primary">Gestión de productos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
