{% extends 'base.html' %}

{% block contenido %}
<div id="cuidadores-page">
    <div class="cuidadores-container">
        <h1>Cuidadores</h1>
        <p>¡Bienvenido al Panel de Cuidadores!</p>
        <button class="btn btn-success">+ Añadir Cuidador</button>
        
        <table class="table table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Identificación</th>
                    <th>Nombre del Producto</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1001</td>
                    <td>Dogshow</td>
                    <td>Comida</td>
                    <td>5</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Actualizar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1002</td>
                    <td>Hueso de yeso</td>
                    <td>Jugueteria</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Actualizar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">2 Registros.</p>
    </div>
</div>
{% endblock %}
