{% extends "base.html" %}

{% block contenido %}
<div class="container py-4">
    <h2 class="text-center mb-4">Nuestros Productos</h2>
    <div class="row justify-content-center">
        
        <!-- Card 1 -->
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <a href="/productos/gatos">
                    <img src="{{ url_for('static', filename='img/gatos.jpg') }}"
                         class="card-img-top"
                         alt="Productos para gatos">
                </a>
                <div class="card-body">
                    <h3 class="card-title">Gatos</h3>
                    <p class="card-text">Todo lo que tu gato necesita.</p>
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <a href="/productos/perros">
                    <img src="{{ url_for('static', filename='img/perros.jpg') }}"
                         class="card-img-top"
                         alt="Productos para perros">
                </a>
                <div class="card-body">
                    <h3 class="card-title">Perros</h3>
                    <p class="card-text">Accesorios y alimentos para perros.</p>
                </div>
            </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <a href="/productos/otros">
                    <img src="{{ url_for('static', filename='img/mascotas.jpg') }}"
                         class="card-img-top"
                         alt="Otros productos">
                </a>
                <div class="card-body">
                    <h3 class="card-title">Otros</h3>
                    <p class="card-text">Variedad en accesorios para mascotas.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
